body{ 
	font-family: "Open Sans";
	font-weight: 300;
	height : 100%;
}

.center {
	text-align: center;
}

.left-content {
	margin: 2% 50% 2% 5%;
}

.right-content {
	margin: 2% 50% 2% 5%;
}

.color-gray {
	background-color: #eee;
}

.pass {
	color : green;
	font-weight: 400;
}

.fail {
	color : red;
	font-weight: 400;
}

.charts {
	margin-top: 2%;
	margin-bottom: 25%;
}

.chart-legend {
    list-style-type: none;
    margin-top: 5px;
    text-align: center;
    -webkit-padding-start: 0;
    padding-left: 0;
}

.chart-legend li {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    margin-bottom: 4px;
    border-radius: 5px;
    padding: 2px 8px 2px 28px;
    font-size: smaller;
    cursor: default;
}

.chart-legend li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.chrome {
   content:url("../img/chrome.png");
   width: 7%;
   height: 7%;
}​

.firefox {
   content:url("../img/firefox.png");
   width: 7%;
   height: 7%;
}​

.ie {
   content:url("../img/ie.png");
   width: 7%;
   height: 7%;
}​
