<!DOCTYPE html>
<html ng-app="reportsApp">
	<head>
		<title>Report</title>
		<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
	  	<link rel="stylesheet" href="bootstrap-3.3.7-dist/css/bootstrap.min.css">
	  	<link rel="stylesheet" type="text/css" href="css/google.css">
	  	<script type="text/javascript" src="jquery/jquery-3.1.0.min.js"></script>
	  	<script type="text/javascript" src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	  	<script type="text/javascript" src="angular/angular.min.js"></script>
	  	<script type="text/javascript" src="angular/Chart.bundle.min.js"></script>
	  	<script type="text/javascript" src="angular/Chart.min.js"></script>
	  	<script type="text/javascript" src="angular/angular-chart.min.js"></script>
	  	<script type="text/javascript" src="executionDates.js"></script>
	  	<script type="text/javascript" src="testExecutionContent.js"></script>
	  	<script type="text/javascript" src="currentExeResults.js"></script>
	  	<script type="text/javascript" src="app.js"></script>
	  	<link rel="stylesheet" href="css/style.css">
  	</head>
  	<body ng-controller="reportViewController">
  		<div class="container-fluid">
  			<div class="row center color-gray">
  				<div class="col-sm-12">
  					<h1>Test Report</h1>
  				</div>
  			</div>

  			<div class="row">
  				<div class="col-sm-4">

  					<div class="panel-group" id="mainAccordion">

					    <div ng-repeat="suite in suites" class="panel panel-default">
					      <div class="panel-heading">
					        <h3 class="panel-title">
					          <a data-toggle="collapse" data-parent="#mainAccordion" href="#suiteResult{{suite.name}}">{{suite.name}}</a>
					        </h3>
					      </div>
					      <div id="suiteResult{{suite.name}}" class="panel-collapse collapse">
					        <ul class="list-group">
					          <li ng-repeat="test in suite.tests" class="list-group-item">

					          		<h4>{{test.name}}</h4>
					          		<ul class="sub-list-items">
					          			<li ng-repeat="class in test.classes">
				          					<!-- Sub Accordion-->
				          					<div class="panel-inner">
					          					<div class="panel-group" id="subAccordion">
					          						<div class="panel panel-default">
					          							<div class="panel-heading">
					          								<h5 class="panel-title">
						          								<a data-toggle="collapse" data-parent="#subAccordion" href="#{{suite.name}}{{test.name}}{{class.name}}">{{class.name}}</a>
						          							</h5>
						          						</div>
						          						<div id="{{suite.name}}{{test.name}}{{class.name}}" class="panel-collapse collapse">
						          							<ul>
						          								<li ng-repeat="method in class.methods">
						          									<span class="{{method.result}}">
				  														<strong>{{method.name}}</strong>
				  													</span>
						          								</li>
						          							</ul>
						          						</div>
						          					</div>
						          				</div>
						          			</div>
						          			<!-- ends  -->
					          			</li>
					          		</ul>
					          </li>
					        </ul>
					      </div>
					    </div>
					 </div>
  				</div>
  				<div class="col-sm-8" >
  					
  					<div class="charts">
	  					<div class="col-sm-4" >
		  					<div ng-controller="PieCtrl">
		  						<canvas id="pie" class="chart chart-pie" chart-data="data" chart-labels="labels" chart-colors="colours" chart-options="options" width="400%" height="250%">
								</canvas> 
								<ol class="chart-legend">
									<li>
										<span style="background-color : #2D762D"></span>
										{{passed}} Passed
									</li>
									<li>
										<span style="background-color : #FF0000"></span>
										{{failed}} Failed
									</li>
									<li>
										<span style="background-color : #CCD65C"></span>
										{{skipped}} Skipped
									</li>
								</ol>
		  					</div>
	  					</div>
	  					<div class="col-sm-8">
							<div ng-controller="LineCtrl">
								<canvas id="line" class="chart chart-line" chart-data="data"
								chart-labels="labels" chart-series="series" chart-options="options"
								chart-dataset-override="datasetOverride" chart-click="onClick" width="695%" height="360%">
								</canvas> 
		  					</div>
	  					</div>
  					</div>

  					<div class="col-sm-12">
	  					<!-- Summary -->
	  					<div class="panel-group" id="accordion">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
									Summary</a>
								</h4>
							</div>
							<div id="collapse1" class="panel-collapse collapse in">
								<div class="panel-body">

										<table class="table table-striped">
										    <thead>
										      <tr>
										        <th>Suite Name</th>
										        <th>Test Name</th>
										        <th>Methods Passed</th>
										        <th>Methods Failed</th>
										        <th>Methods Skipped</th>
										        <th>Platform/Browser</th>
										      </tr>
										    </thead>
										    <tbody>
										      <tr ng-repeat="suite in suites">
										        <td>{{suite.name}}</td>
										        <td>
										        	<ul class="list-unstyled">
										        		<li ng-repeat="test in suite.tests">{{test.name}} <hr></li>
										        	</ul>
										        </td>
										        <td>
										        	<ul class="list-unstyled">
										        		<li ng-repeat="test in suite.tests">{{test.passed}} <hr></li>
										        	</ul>
										        </td>
										        <td>
										        	<ul class="list-unstyled">
										        		<li ng-repeat="test in suite.tests">{{test.failed}} <hr></li>
										        	</ul>
										        </td>
										        <td>
										        	<ul class="list-unstyled">
										        		<li ng-repeat="test in suite.tests">{{test.skipped}} <hr></li>
										        	</ul>
										        </td>
										        <td>
										        	<ul class="list-unstyled">
										        		<li ng-repeat="test in suite.tests">
											        		<div>
											        			<span class="{{test.browser}}"></span>
											        			{{test.browser}} <hr>
											        		</div>
										        		</li>
										        	</ul>
										        </td>
										      </tr>
									      	</tbody>
								      	</table>

								</div>
							</div>
						</div>
					 </div>

					 <!-- Detailed Report -->
					 <div class="panel-group" id="deatiledReport">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#deatiledReport" href="#collapseDeatiledReport1">
									Detailed Report</a>
								</h4>
							</div>
							<div id="collapseDeatiledReport1" class="panel-collapse collapse in">
								<div class="panel-body">
									<!-- Inner -->
										<div class="panel-group" id="accordion1">
											<div ng-repeat="suite in suites" class="panel panel-default">
												{{suite.name}}
												<div ng-repeat="test in suite.tests">
													<div class="panel-heading">
														<h4 class="panel-title">
															<a data-toggle="collapse" data-parent="#accordion1" href="#{{suite.name}}{{test.name}}">
																{{test.name}}
															</a>
														</h4>
													</div>
													<div id="{{suite.name}}{{test.name}}" class="panel-collapse collapse">
															<table class="table table-striped">
															    <thead>
															      <tr>
															        <th>Class</th>
															        <th>Methods</th>
															      </tr>
															    </thead>
															    <tbody>
															      <tr ng-repeat="class in test.classes">
															        <td>{{class.fullName}}</td>
															        <td>
															        	<ul>
															        		<li ng-repeat="method in class.methods">
															        			
															        			<table class="table table-hover">
															        				<tbody>
																				      <tr>
																				        <td>{{method.name}}</td>
																				      </tr>
																				      <tr>
																				        <td>
																				        	Logs
																	        				<p>
																	        				{{method.log}}
																	        				</p>
																				        </td>
																				      </tr>
																				     </tbody>
															        			</table>
															        			
															        		</li>
															        	</ul>
															        </td>
															        
															      </tr>
														      	</tbody>
													      	</table>
													</div>
												</div>
												<hr>
											</div>
										</div>

								</div>
							</div>
						</div>
					 </div>
					</div>
  				</div>
  			</div>

  		</div>
  	</body>
</html>